<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Meet the Team</h1>
        </div>
        <hr>
    </div>
</div>

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="" alt="">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum neque obcaecati modi maiores? Facere, fugiat veritatis! Nihil amet similique veritatis?</p>
                    <a href="#" class="btn btn-outline-secondary">Scan Profile</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="" alt="">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum neque obcaecati modi maiores? Facere, fugiat veritatis! Nihil amet similique veritatis?</p>
                    <a href="#" class="btn btn-outline-secondary">Scan Profile</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="" alt="">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum neque obcaecati modi maiores? Facere, fugiat veritatis! Nihil amet similique veritatis?</p>
                    <a href="#" class="btn btn-outline-secondary">Scan Profile</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="" alt="">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum neque obcaecati modi maiores? Facere, fugiat veritatis! Nihil amet similique veritatis?</p>
                    <a href="#" class="btn btn-outline-secondary">Scan Profile</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="" alt="">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum neque obcaecati modi maiores? Facere, fugiat veritatis! Nihil amet similique veritatis?</p>
                    <a href="#" class="btn btn-outline-secondary">Scan Profile</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="" alt="">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum neque obcaecati modi maiores? Facere, fugiat veritatis! Nihil amet similique veritatis?</p>
                    <a href="#" class="btn btn-outline-secondary">Scan Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="my-4">
