<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Login</div>
        <div class="card-body">
          <form #loginForm=ngForm (ngSubmit)="onSubmit()">

            <div class="form-group row">
              <label for="inputEmail3" class="col-md-4 col-form-label text-md-right">Email</label>
              <div class="col-md-6">
                <input type="email" name ="email" class="form-control" id="inputEmail3" placeholder="Email" [(ngModel)]="form.email" required>
              </div>
              
            </div>


            <div class="form-group row">
              <label for="inputPassword3" class="col-md-4 col-form-label text-md-right">Password</label>
              <div class="col-md-6">
                <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password" [(ngModel)]="form.password" required>
              </div>
            </div>

            <div class="form-group row mb-0">
              <div class="col-md-8 offset-md-4">
                <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
                <a class="btn btn-link" routerLink="/request-password-reset" > Forgot Password</a>
              </div>
            </div>

          </form>

          <div class="or-seperator"><i>or</i></div>
          <p class="text-center">Login with your social media account</p>
          <div class="text-center social-btn">
            <a (click)="facebook()" class="btn btn-primary text-white"><i class="fab fa-facebook"></i>&nbsp; Facebook</a>
            <a (click)="google()" class="btn btn-danger text-white"><i class="fab fa-google"></i>&nbsp; Google</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
