<div class="container-fluid">
    <div class="row jumbotron">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-10">
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta amet maxime deserunt doloribus pariatur ducimus labore velit asperiores optio. Pariatur!</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-2">
            <a href="#" class="btn btn-outline-secondary btn-lg">Get Started</a>
        </div>
    </div>
</div>
