<hr class="my-4">


<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Schedule with ease.</h1>
        </div>
        <hr>
        <div class="col-12">
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde assumenda dolor eum commodi perferendis dolore at. Reiciendis, voluptatem non? Ad.
            </p>
        </div>
    </div>
</div>

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-12 col-lg-6">
            <h2>Lorem, ipsum dolor.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis mollitia quisquam sapiente dolore magnam natus.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem recusandae aspernatur reiciendis totam labore libero, natus id magnam asperiores rerum?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, sequi?</p>

            <button type="button" class="btn btn-primary btn-md">Learn More</button>

        </div>
        <div class="col-lg-6">
            <img src="assets/images/photo2.jpeg" alt="" class="img-fluid">
        </div>
    </div>
</div>

<hr class="my-4">

<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Track Employee Attendance.</h1>
        </div>
        <hr>
        <div class="col-12">
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde assumenda dolor eum commodi perferendis dolore at. Reiciendis, voluptatem non? Ad.
            </p>
        </div>
    </div>
</div>

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-12 col-lg-6">
            <h2>Lorem, ipsum dolor.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis mollitia quisquam sapiente dolore magnam natus.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem recusandae aspernatur reiciendis totam labore libero, natus id magnam asperiores rerum?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, sequi?</p>

            <button type="button" class="btn btn-primary btn-md">Learn More</button>

        </div>
        <div class="col-lg-6">
            <img src="assets/images/photo3.jpeg" alt="" class="img-fluid">
        </div>
    </div>
</div>

<hr class="my-4">

<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Evaluate Performance.</h1>
        </div>
        <hr>
        <div class="col-12">
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde assumenda dolor eum commodi perferendis dolore at. Reiciendis, voluptatem non? Ad.
            </p>
        </div>
    </div>
</div>

<hr class="my-4">

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-12 col-lg-6">
            <h2>Lorem, ipsum dolor.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis mollitia quisquam sapiente dolore magnam natus.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem recusandae aspernatur reiciendis totam labore libero, natus id magnam asperiores rerum?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, sequi?</p>

            <button type="button" class="btn btn-primary btn-md">Learn More</button>

        </div>
        <div class="col-lg-6">
            <img src="assets/images/photo1.jpeg" alt="" class="img-fluid">
        </div>
    </div>
</div>

<hr class="my-4">

<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Generate Report.</h1>
        </div>
        <hr>
        <div class="col-12">
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde assumenda dolor eum commodi perferendis dolore at. Reiciendis, voluptatem non? Ad.
            </p>
        </div>
    </div>
</div>

<hr class="my-4">

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-12 col-lg-6">
            <h2>Lorem, ipsum dolor.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis mollitia quisquam sapiente dolore magnam natus.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem recusandae aspernatur reiciendis totam labore libero, natus id magnam asperiores rerum?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, sequi?</p>

            <button type="button" class="btn btn-primary btn-md">Learn More</button>

        </div>
        <div class="col-lg-6">
            <img src="assets/images/photo2.jpeg" alt="" class="img-fluid">
        </div>
    </div>
</div>

<hr class="my-4">